<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal form</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container-fluid">
  <div class="text-center">
    <br><br><br>
    <h4>Add an animal:</h4>
  </div>
  <form action="#" method="post" th:action="@{/submit-animal}" th:object="${animal}" class="text-center w-50 mx-auto">
    <div class="row col-lg-12">
      <div class="form-group row">
        <label class="col-12 col-form-label" for="name">Name:</label>
        <div>
          <input class="form-control" th:field="*{name}" type="text">
          <span class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name error</span>
        </div>
      </div>

      <div class="form-group row text-center">
        <label for="animal">Animal:</label>
        <div>
          <select class="form-select mb-3" th:field="*{type}">
            <option th:each="animalType : ${typeList}" th:text="${animalType}" th:value="${animalType}"></option>
          </select>
        </div>
      </div>

      <div class="form-group row text-center">
        <label class="col-12 col-form-label" for="breed">Breed:</label>
        <div>
          <input class="form-control" th:field="*{breed}" type="text">
          <span class="text-danger" th:errors="*{breed}" th:if="${#fields.hasErrors('breed')}">Breed error</span>
        </div>
      </div>

      <div class="form-group row text-center">
        <label class="col-12 col-form-label" for="age">Age:</label>
        <div>
          <input class="form-control" th:field="*{age}" type="text">
          <span class="text-danger" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">Age error</span>
        </div>
      </div>

      <div class="form-group row text-center">
        <label for="shelter">Shelter:</label>
        <div>
          <select class="form-select mb-3" th:field="*{shelterID}">
            <option th:each="shelter : ${shelterList}" th:text="${shelter.getNameAndAddress()}" th:value="${shelter.id}"></option>
          </select>
        </div>
      </div>

      <br>
      <div class="form-group row text-center">
        <button class="btn btn-dark" type="submit">
          Submit
        </button>
      </div>

    </div>
  </form>
  <br><br>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="d-grid col-2 mx-1">
        <a th:href="@{'/animals'}" type="button" class="btn btn-dark">Animals</a>
      </div>
      <div class="d-grid col-2 mx-1">
        <a th:href="@{'/shelters'}" type="button" class="btn btn-dark">Shelters</a>
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>