<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dogs Page</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div>
  <h3>Dogs:</h3>
</div>
<div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dog : ${dogList}">
      <td th:text="${dog.id}"></td>
      <td th:text="${dog.name}"></td>
      <td th:text="${dog.breed}"></td>
      <td th:text="${dog.age}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>