<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit shelter</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <br><br><br>
        <h4>Edit a shelter:</h4>
    </div>
    <form action="#" method="post" th:action="@{/save-shelter}" th:object="${shelter}" class="text-center w-50 mx-auto">
        <input class="d-none" th:field="*{id}" type="text">
        <div class="row col-lg-12">
            <div class="form-group row text-center">
                <label class="col-12 col-form-label" for="name">Name:</label>
                <div>
                    <input class="form-control" th:field="*{name}" type="text">
                </div>
            </div>

            <div class="form-group row text-center">
                <label class="col-12 col-form-label" for="address">Address:</label>
                <div>
                    <input class="form-control" th:field="*{address}" type="text">
                </div>
            </div>

            <br>
            <div class="form-group row text-center my-3">
                <button class="btn btn-dark" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>
    <br><br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="d-grid col-2 mx-1">
                <a th:href="@{'/animals'}" type="button" class="btn btn-dark">Animals</a>
            </div>
            <div class="d-grid col-2 mx-1">
                <a th:href="@{'/shelters'}" type="button" class="btn btn-dark">Shelters</a>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>