<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shelter form</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container-fluid">
  <div class="text-center">
    <br><br><br>
    <h4>Add a shelter:</h4>
  </div>
  <form action="#" method="post" th:action="@{/submit-shelter}" th:object="${shelter}" class="text-center w-50 mx-auto">
    <div class="row col-lg-12">
      <div class="form-group row text-center">
        <label class="col-12 col-form-label" for="name">Name:</label>
        <div>
          <input class="form-control" th:field="*{name}" type="text">
          <span class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name error</span>
        </div>
      </div>

      <div class="form-group row text-center">
        <label class="col-12 col-form-label" for="address">Address:</label>
        <div>
          <input class="form-control" th:field="*{address}" type="text">
          <span class="text-danger" th:errors="*{address}" th:if="${#fields.hasErrors('address')}">Address error</span>
        </div>
      </div>

      <br>
      <div class="form-group row text-center my-3">
        <button class="btn btn-dark" type="submit">
          Submit
        </button>
      </div>
    </div>
  </form>
  <br><br>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="d-grid col-2 mx-1">
        <a th:href="@{'/animals'}" type="button" class="btn btn-dark">Animals</a>
      </div>
      <div class="d-grid col-2 mx-1">
        <a th:href="@{'/shelters'}" type="button" class="btn btn-dark">Shelters</a>
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>